/* Write your CSS here */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid goldenrod;
}
.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-right: 30px;
  padding-left: 30px;
}
.list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.languages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
